* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.fw-6 {
  font-weight: 600;
}

header .tophead {
  background: #34313a;
  width: 100%;
  height: 28px;
}
a {
  text-decoration: none;
}
header .leftgroup ul li {
  margin: 0 15px;
  padding-top: 2px;
}
header .leftgroup ul li a {
  font-size: 12px;
  color: #fff;
}
header .leftgroup ul li a:hover {
  text-decoration: underline;
}
header .rightgroup ul li {
  margin: 0 12px;
  padding-top: 2px;
}
header .rightgroup ul li a {
  font-size: 12px;
  color: #fff;
}
header .leftgroup ul li a.active {
  position: relative;
  height: auto;
  width: auto;
  color: #b00000;
  line-height: 28px;
  text-align: center;
  background: #fff;
  font-weight: 700;
  display: inline block;
  padding: 9px;
}
header .tophead .leftgroup ul li a.active:hover {
  text-decoration: none;
}
header .tophead .leftgroup ul li a.active::before {
  content: "";
  width: 0px;
  height: 0px;
  right: 100%;
  position: absolute;
  border-right: 15px solid #fff;
  border-bottom: 0px solid #fff;
  border-top: 28px solid transparent;
}
header .tophead .leftgroup ul li a.active::after {
  content: "";
  top: 0px;
  width: 0;
  height: 0;
  left: 100%;
  position: absolute;
  border-top: 28px solid #fff;
  border-right: 15px solid transparent;
  border-bottom: 0px solid transparent;
}
/* 
.sub-menu {
  display: none;
}
header .rightgroup ul li:hover .sub-menu {
  display: block;
  background: #34313a;
}
header .rightgroup ul li:hover .sub-menu ul li {
  width: 97px;
  padding: 3px 0;
  border-radius: 0;
  font-size: 12px;
  text-align: left;
  margin-left: 0;
} */

header .rightgroup .dropdown:hover .dropdown-menu {
  display: block;
  background-color: #34313a;
  width: auto;
  border-radius: 0;
}
header .rightgroup .dropdown:hover .dropdown-menu li {
  color: white;
  margin-left: 0px;
}

header .dropdown:hover .dropdown-content {
  margin-top: 0;
}
header .rightgroup .dropdown-content a:hover {
  background-color: #151516;
}
.header .rightgroup #button {
  border-radius: 0;
  background-color: #34313a;
  padding: 10px;
}
.header.rightgroup .dropdown .dropdown-content li a > img {
  margin-left: 0;
}
/* <!-- navbar 2nd--> */
nav li a {
  color: #0c0c0c;
  font-weight: 600 !important;
  text-align: center;
  top: auto;
  font-size: 14px !important;
  line-height: 1.7;
}
.dropdown .dropdown-menu a {
  color: #fff;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0px;
  background: #3a3939;
}
.dropdown-content li:hover {
  background-color: black;
  color: white;
}

/* navbar section end */
/* carousel section start */
.carousel-inner .carousel-item {
  height: 500px;
}
.carousel-inner .carousel-item img {
  animation: zoomin 20s infinite;
}
@keyframes zoomin {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.carousel-inner .carousel-item h4,
p {
  color: #fff;
}
.carousel-inner .carousel-item .btn.active {
  background-color: #920606;
  border: 1px solid #fff;
  font-weight: 300;
  color: white;
}
.carousel-inner .carousel-item .btn {
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 14px;
  margin: 10px;
  padding: -15px;
  color: white;
}
.carousel-inner .carousel-item .btn:hover {
  background-color: #b00000;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #920606;
}
.carousel-inner .carousel-item .carousel-caption {
  bottom: 5.5rem;
}
.carousel-indicators {
  bottom: 3.5rem;
}
/* carousel section end */
/* internation removal secttion */
.interbox {
  min-height: 200px;
  margin-top: -50px;
  z-index: 9;
  background: #fff;
}
.interbox p {
  color: #3b3b3d;
}

.interbox a,
h2,
h3 {
  color: #a70505;
}
.interbox h3 {
  font-weight: 200px;
  font-size: 22px;
}
.interbox q {
  font-size: 30px;
}
/* internation removal secttion end */

/* individual corporation section start */
.individual {
  position: relative;
}
.individual p {
  font-size: 14px;
}
.heading h3 {
  background-color: #d10202;
  color: white;
  font-weight: 300;
}
.individual .heading h3 {
  position: absolute;
  margin-top: 30px;
  padding: 5px 10px 2px;
  margin-left: -17px;
  z-index: 9;
}
.individual .heading h3::after {
  content: "";
  top: 0px;
  width: 0;
  height: 0;
  left: 100%;
  position: absolute;
  border-top: 40px solid #d10202;
  border-right: 15px solid transparent;
  border-bottom: 0px solid transparent;
}
.individual .heading h3::before {
  content: "";
  top: 40px;
  left: 0px;
  width: 0px;
  height: 0px;
  right: 100%;
  position: absolute;
  border-top: 22px solid #d10202;
  border-left: 17px solid transparent;
  border-bottom: 0px solid transparent;
}
.individual .btn {
  border: 2px solid #be0303;
  color: #be0303;
  border-radius: 0%;
  padding: 8px 20px;
  margin: 10px;
  font-size: 12px;
  font-weight: bold;
  margin-left: -2px;
}
.individual .btn:hover {
  background-color: #af0202;
  color: white;
}
.individual .btn.active {
  background-color: #af0202;
  color: white;
}
.individual .btn.active:hover {
  background-color: #af0202;
}
.imagebox {
  overflow: hidden;
}

.imagebox img:hover {
  transition: 1s;
  transform: scale(1.1);
}

/* individual corporation section end */
/* <!-- domestic section start--> */
.domestic {
  background-color: #34313a;
}
.domestic p {
  color: #8a8a8b;
}
.domestic h5 {
  font-size: 18px;
  text-align: center;
}
.domestic img {
  width: 80%;
}
.domestic small a {
  margin-left: 25px;
}
.domestic img:hover {
  transform: scale(1.1);
}
/* <!-- domestic section end--> */

/* <!-- client section start --> */

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.client .card {
  margin: 20px;
}
.client .card .card-body {
  margin-left: 10px;
}
.client img {
  width: 130px;
}
/* <!-- client section end --> */

/* <!-- world section start --> */
.world .btn {
  border: 2px solid #be0303;
  color: #fff;
  border-radius: 0%;
  padding: 8px 20px;
  background-color: #920606;
  font-size: 14px;
  font-weight: bold;
}
.world h1 {
  font-size: 50px;
}
.world img {
  width: 100%;
}
/* <!-- world section start --> */

/* <!-- network section start  --> */
.network img {
  width: 100%;
}
.network .btn {
  border: 2px solid #be0303;
  color: #920606;
  border-radius: 0%;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: bold;
  margin: 8px;
}
.network .btn:hover {
  background-color: #af0202;
  color: white;
}
.network .btn.active {
  background-color: #af0202;
  color: white;
}
.network .btn.active:hover {
  background-color: #af0202;
}
/* <!-- network section end  --> */

/* footer section start  */
.footer ul li {
  text-align: left;
}
.footer ul li a {
  font-size: 14px;
}
.footer ul li:hover {
  color: white;
}
.footer h5 {
  margin-left: -100px;
}
/* footer section start  */
